.plot_machine {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plot_toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: auto;
  padding: 1rem;
  border-radius: 0.5rem;
}

.plot_section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}